.App {
  text-align: center;
}

.App-header {
  background-color: #f59372;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logo {
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.homeText {
  /*font-size:60px !important;*/
  /*line-height: 0.5vw !important;*/
}
.homeTextTwo {
  /*font-size:25px !important;*/
  /*line-height: 0.5vw !important;*/
}

.enterButton {
  text-align: center;
  color: white;
  text-decoration: none;
}

.enterButton span {
  font-size: 20px;
}

.pagePagination {
  padding: 2vw;
}

.pagePagination--link {
  text-align: right;
}

/*.pageText--heading {*/
/*  font-size: 40px !important;*/
/*}*/

/*.pageText--body {*/
/*  font-size: 16px !important;*/
/*}*/

.padded-text {
  padding: 8px;
}

.padded-container {
  padding: 0 4vw;
}

.affiliate--ethldn {
  width: 100px;
  height: auto;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.proposal-box {
  margin: 5px 5px;
}

/*todo refactor this so aren't force overriding*/
.MuiTextField-root {
  min-width: 100% !important;
  margin: 5px 0 !important;
}

.error {
  color: red;
}


.home__section2 {
  /*background-color: black;*/
  border-top: 1px solid grey;
}

/*.home__section2-text {*/
/*  color: white;*/
/*}*/

.flex-column {
  flex-direction: column;
}

/*.toolBar {*/
/*  !*align-content: space-between;*!*/
/*  max-width:100vw;*/
/*}*/

.connectButton {
  margin-left: auto !important;
}

.disconnectButton {
  /*margin-left: auto !important;*/
  margin-left: 10px !important;
}

.donateButton {
  color: white !important;
  background-color: red !important;
}

.donateButton-container {
  margin-left: auto !important;
}

.connectButtonContainer {
  display:flex;
  width: 100%;
  margin-bottom: 10px;
  justify-content: center;
}

.modalTitle {
  text-align: center;
}

.mywallet-button-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.longtext-box {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90vw; /* taking into account padding*/
}
