.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logo {
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.homeText {
  font-size:80px !important;
  /*line-height: 0.5vw !important;*/
}

.enterButton {
  text-align: center;
}

.enterButton span {
  font-size: 20px;
}

.pagePagination {
  padding: 2vw;
}

.pagePagination--link {
  text-align: right;
}

.pageText--heading {
  font-size: 40px !important;
}

.pageText--body {
  font-size: 16px !important;
}

.padded-text {
  padding: 8px;
}

.padded-container {
  padding: 0 80px;
}

.affiliate--ethldn {
  width: 100px;
  height: auto;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.proposal-box {
  margin: 5px 5px;
}

/*todo refactor this so aren't force overriding*/
.MuiTextField-root {
  min-width: 500px !important;
  margin: 5px 0 !important;
}

.error {
  color: red;
}
